.effect-2 {
    border: 0;
	padding: 7px 0;
	border-bottom: 1px solid #ccc;
}

.effect-2~.focus-border {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 2px;
	background-color: #3399FF;
	transition: 0.4s;
}

.effect-2:focus~.focus-border {
	width: 100%;
	transition: 0.4s;
	left: 0;
}


.p-one-border { color: #666;display:inline-block; margin:0;text-transform:uppercase; }
.p-one-border:after {
  display:block;
  content: '';
  border-bottom: solid 3px #019fb6;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.p-one-border:hover:after { transform: scaleX(1); }
.p-one-border.fromRight:after{ transform-origin:100% 50%; }
.p-one-border.fromLeft:after{  transform-origin:  0% 50%; }