/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) /* and (-webkit-min-device-pixel-ratio: 1.5) */ {

    /* Styles */
    .header-fig {
        margin-top: 20%;
    }

    .tribute h1 {
        font-size: 5vw;
    }

    .tribute p {
        font-size: 4vw;
    }

    .survey h1 {
        font-size: 5vw;
    }

    .survey p {
        font-size: 4vw;
    }

    .product h1 {
        font-size: 5vw;
    }

    .product p {
        font-size: 4vw;
    }

    .tech h1 {
        font-size: 5vw;
    }

    .tech p {
        font-size: 4vw;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}


/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

     /* Styles */
     .header-fig {
        margin-top: 30vh;
    }
    
    .header-con {
        height: 800px;
    }

    .tribute h1 {
        font-size: 3vw;
    }

    .tribute p {
        font-size: 2.5vw;
    }

    .survey h1 {
        font-size: 3vw;
    }

    .survey p {
        font-size: 2.5vw;
    }

    .product h1 {
        font-size: 3vw;
    }

    .product p {
        font-size: 2.5vw;
    }

    .tech h1 {
        font-size: 3vw;
    }

    .tech p {
        font-size: 2.5vw;
    }

    img {
        width: 100%;
        height: 100%;
    }


}



/* For Prin Screens */
@media print {
    * {
        font-size: 22%;
    }

    .container {
        width: auto;
    }

}